### VSCODE stuff ###
**/.vscode/
**/.history

# Ignore dbs created during testing
**.db
**.sqlite3

# Ignore temporary files created during testing
**/__pycache__/
**/cython_debug/

# Ignore Virtual environments
**/.env/
**/.venv/
**/env/
**/venv/

# ignore the api secrets :D
**/client_secret.txt